<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ path('project_register') }}">Projekto registracijos forma</a>
            <a class="nav-item nav-link" href="{{ path('project_import') }}">Skanuoti QR kodą</a>
        </div>
    </div>
</nav>